/* design-types */
.left {text-align: left;}
.right {text-align: right;}
.center {text-align: center;}
.block {text-align: justify;}
/* styles */
body {
/*  background-color: #f2f2f2;*/
  margin: 0px 0px 0px 0px;
  border-top: 0.5em;
  border-top-style: solid;
  border-top-color: #2c3e50;
  font-family: sans-serif;
}
input {
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  color: #22313F;
  padding: 10px;
  border: 1px;
  border-style: solid;
  border-color: #2980b9;
  width: 100%;
}
/* fonts */
t1 {
  font-family: verdana, sans-serif;
  font-size: 1.75em;
  color: #34495e;
}
t2 {
  font-family: verdana, sans-serif;
  font-size: 1em;
  padding: 2em;
}
/* divs */
#title {
  width: 80%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  padding: 10px 10px 10px 10px;
  border-radius: 1em;
	border: 3px solid;
  background: #F1F3F4;
	border-color: #d5d5d5
}
#titlescreenleft {
  width: 50%;
  height: 500px;
  float: left;

}
#titlescreenright {
  width: 50%;
  height: 500px;
  float: right;
}
